.Three-Dee {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1em;
    color: #d65c5c;
    font-size: 69px;
    text-shadow: 0px 0px 0 rgb(193, 71, 71), 1px 1px 0 rgb(182, 60, 60), 2px 2px 0 rgb(171, 49, 49), 3px 3px 0 rgb(161, 39, 39), 4px 4px 0 rgb(150, 28, 28), 5px 5px 0 rgb(139, 17, 17), 6px 6px 0 rgb(128, 6, 6), 7px 7px 0 rgb(117, -5, -5), 8px 8px 0 rgb(106, -16, -16), 9px 9px 8px rgba(0, 0, 0, 0.6), 9px 9px 1px rgba(0, 0, 0, 0.5), 0px 0px 8px rgba(0, 0, 0, .2);
    text-align: center;
}

body{
    margin-top: 0;
}
.remove-button {
    font-family: Georgia;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    color: red;
}

.text-button {
    font-family: Georgia;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    color: green;
}

html {
    background: url('../images/mimosa.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

form.formclass{
    float:right;
    margin:10px 0 0 0;
}

form.formclass input.inputclass{
    width:100px; height:20px;
    float:left;
    margin:0 10px 0 0;
}
form.formclass input.buttonclass{
    width:80px; height:20px;
    float:right;
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:99%;
    text-align: right;
}